body{
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #312e81
    );

    color:white;
    font-family:Segoe UI;
}


.container{

    width:90%;
    margin:auto;
    text-align:center;

}


.upload-card{

    margin-top:30px;

    background:rgba(255,255,255,0.1);

    padding:30px;

    border-radius:20px;

}


.generate-btn{

    margin-top:20px;

    padding:15px;

    background:#22c55e;

    color:white;

    border:none;

    border-radius:10px;

}


.features{

    margin-top:30px;

    display:flex;

    gap:20px;

}


.feature-card{

    background:rgba(255,255,255,0.1);

    padding:20px;

    border-radius:15px;

}
